.cardBox {
  background-color: #FFF;
  color: #000;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  max-width: 100%;
}

.cardBoxBody {
  display: flex;
}

.cardBoxBodyContent  {
  margin-left: 10px;
}

.cardBoxBodyContent a {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}

.cardBoxBodyContent span {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 10px;
}
.cardBoxProfile {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardBoxProfileContent p {
  font-size: 12px;
  font-weight: 900;
  color: #000;
  padding-left: 5px;
}

.cardBoxProfileAvatar img {
  border-radius: 30px;
}

.cardBoxProfileLink {
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
}

.cardBoxProfileLink a {
  margin-right: 5px;
}

.cardBoxFooter {
  display: flex;
  justify-content: space-between
}

.cardBoxFooterTag {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start
}

.cardBoxFooterRight {
  display: flex;
  align-items: center;
}

.cardBoxFooterRight span {
  font-size: 8px;
  line-height: 9px;
}

.cardBoxFooterRightComment {
  background-image: url("/assets/icons/comment.png");
  background-repeat: round;
  width: 40px;
  height: 40px;
  display: flex;
  color: #FFF;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 5px;
}

.cardBoxFooterRightLike {
  background-image: url("/assets/icons/like.png");
  background-repeat: round;
  width: 40px;
  height: 40px;
  display: flex;
  color: #FFF;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 5px;
}

.cardBoxFooterRightPublished {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #3366FF;
  color: #FFF;
  margin-right: 5px;
  padding: 10px;
}

.cardBoxTagBox {
  font-size: 14px;  
  text-align: center;
  color: #FFF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 3px;
}

.devTo {
  padding: 10px;
  background-color: #000;
  color: #FFF;
  font-size: 32px;
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}