.content {
  background-color: #EEF1F6;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentlist {
  flex-wrap: wrap;
  width: 45%
}

.contentsetting {
  flex-wrap: wrap;
}

@media screen and  (max-width: 600px) {
  .contentlist {
    width: 100%;
  }
}