.content {
  background-color: #EEF1F6;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentlist {
  flex-wrap: wrap;
  width: 45%
}

.contentsetting {
  flex-wrap: wrap;
}

.github {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

@media screen and  (max-width: 600px) {
  .contentlist {
    width: 100%;
  }
  .github {
    position: relative;
    text-align:  center;
    top: none;
    bottom:none;
  }
}